# Node modules
node_modules/
diff.txt
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Build output
dist/
build/
